/* Body et Grid */

body {
    margin: 0;
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: 320px 1fr 780px 1fr;
    grid-template-rows: 1220px 520px 520px 20000px 540px;
}

#video{
    grid-column: 2/5;
}

#introduction{
    grid-column: 3;
}

#trier_par{
    grid-column: 3;
}

#sheet_container{
    grid-column: 3;
}

/* Polices et couleurs */

:root{
    --blue: #1F0FB5;
    --yellow: #E5BE3C;
    --beige: #F4ECD1;
    --white: #FFFFFF;
    --black: #2F2F2F;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--blue);
    font-size: 72px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 58px;
}

#introduction p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 22px;
}

.sheet {
    background-color: var(--beige);
}

.duree p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 22px;
}

.temps p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 22px;
}

.telecharger {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 22px;
}

.sheet h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 35px;
}

.resume p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 22px;
}

.resume ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 22px;
}

.etapes ol {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 22px;
}

.points_fort h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 35px;
}

.points_faible h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--black);
    font-size: 35px;
}

.points_fort ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 22px;
}

.points_faible ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 22px;
}

.points_fort {
    background-color: var(--blue);
}

.points_faible {
    background-color: var(--white);
}


/* Bouton */

.scroll p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 22px;
}

/* Menu de navigation */

nav {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

nav img {
    width: 180px;
    margin-left: 20px;
    margin-top: 40px;
}

nav ul {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
}

nav ul li {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 30px;
    line-height: 6vh;
}

nav ul li ul li {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 20px;
    line-height: 4vh;
}

nav a {
    text-decoration: none;
}

/* Liste des étapes avec bulle de couleur */

.etapes ol li {
    list-style-type: none;
}

.etapes ol li:before {
    display: inline-block;
    content: '';
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 19px;
}

.etapes .list_of_4 li:nth-child(1):before {
    background-color: #FFFFFF;
}

.etapes .list_of_4 li:nth-child(2):before {
    background-color: #A6A1DE;
}

.etapes .list_of_4 li:nth-child(3):before {
    background-color: #746AD1;
}

.etapes .list_of_4 li:nth-child(4):before {
    background-color: #1D00B8;
}

.etapes .list_of_5 li:nth-child(1):before {
    background-color: #FFFFFF;
}

.etapes .list_of_5 li:nth-child(2):before {
    background-color: #CDC6F2;
}

.etapes .list_of_5 li:nth-child(3):before {
    background-color: #9D8FE5;
}

.etapes .list_of_5 li:nth-child(4):before {
    background-color: #7467D4;
}

.etapes .list_of_5 li:nth-child(5):before {
    background-color: #1D00B8;
}

.etapes .list_of_6 li:nth-child(1):before {
    background-color: #FFFFFF;
}

.etapes .list_of_6 li:nth-child(2):before {
    background-color: #DEDAF6;
}

.etapes .list_of_6 li:nth-child(3):before {
    background-color: #BBB2ED;
}

.etapes .list_of_6 li:nth-child(4):before {
    background-color: #8C7CE0;
}

.etapes .list_of_6 li:nth-child(5):before {
    background-color: #4728CD;
}

.etapes .list_of_6 li:nth-child(6):before {
    background-color: #1D00B8;
}

.etapes .list_of_7 li:nth-child(1):before {
    background-color: #FFFFFF;
}

.etapes .list_of_7 li:nth-child(2):before {
    background-color: #ECEAFA;
}

.etapes .list_of_7 li:nth-child(3):before {
    background-color: #D2CEE7;
}

.etapes .list_of_7 li:nth-child(4):before {
    background-color: #BBB1EF;
}

.etapes .list_of_7 li:nth-child(5):before {
    background-color: #7463D7;
}

.etapes .list_of_7 li:nth-child(6):before {
    background-color: #4F33CF;
}

.etapes .list_of_7 li:nth-child(7):before {
    background-color: #1D00B8;
}

/* Liste des points forts et points faibles */

.points_fort ul li {
    list-style: url('../svg/plus-circle-solid.svg');
    padding-left: 10px;
}

.points_faible ul li {
    list-style: url('../svg/minus-circle-solid.svg');
    padding-left: 10px;
}

/* Liste durée et temps et télécharger */

.duree ul li, .temps ul li {
    list-style-type: none;
}
