/* Body et Grid */

body {
    margin: 0;
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: 320px 1fr 780px 1fr;
    grid-template-rows: 900px 450px 350px 26300px 520px;
}

#zip {
    text-align: center;
    font-size: 22px;
}

.logo_mobile{
    display: none;
}

#video{
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video .scroll{
    padding-top: 20px;
}


#introduction{
    grid-column: 3;
}

#trier_par{
    grid-column: 3;
}

#sheet_container{
    grid-column: 3;
}

footer {
    grid-column: 2/5;
    background-color: var(--white);
}

/* Polices et couleurs */

:root{
    --blue: #1F0FB5;
    --yellow: #E5BE3C;
    --beige: #F4ECD1;
    --white: #FFFFFF;
    --black: #2F2F2F;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--blue);
    font-size: 72px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--blue);
    font-size: 58px;
}

#introduction p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 18px;
    line-height: 32px;
}

.duree p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 18px;
}

.difficulty p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 18px;
}

.telecharger {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 18px;
}

.telecharger span {
    font-size: 16px;
}

.zip {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 18px;
}

.sheet h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 35px;
}

.resume p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 18px;
    line-height: 32px;
}

.resume ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 18px;
    line-height: 32px;
}

.etapes ol {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 18px;
    line-height: 32px;
}

.points_fort h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 35px;
}

.points_faible h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--black);
    font-size: 35px;
}

.points_fort ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 18px;
    line-height: 32px;
}

.points_faible ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 18px;
    line-height: 32px;
}

.points_fort {
    background-color: var(--blue);
}

.points_faible {
    background-color: var(--white);
}

/* Bouton */

.buttons button{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding: 13px 28px;
    outline: none;
    transition: 0.4s ease;
    background-color: var(--yellow);
    color: var(--blue);
    border-color: var(--blue);
}

.buttons button:nth-child(2) {
    margin-left: 10px;
}

.buttons img {
    margin-left: 5px;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons button:hover {
    background-color: var(--blue);
    color: var(--beige);
    border-color: var(--blue);
}

.buttons button:nth-child(1):hover .icon2 {
    display: inline-block;
}

.buttons button:nth-child(2):hover .icon2 {
    display: inline-block;
}

.buttons button:nth-child(1):hover .icon1 {
    display: none;
}

.buttons button:nth-child(2):hover .icon1 {
    display: none;
}

.buttons button:nth-child(1) .icon2, .buttons button:nth-child(2) .icon2 {
    display: none;
}

.buttons .clicked {
    background-color: var(--blue);
    color: var(--beige);
    border-color: var(--blue);
}

.buttons .clicked .icon1 {
    display: none;
}

.buttons .clicked .icon2 {
    display: inline-block !important;
}

/* Scroll */

.scroll p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 20px;
    transform: translateX(-25%);
    margin-top: 0;
    margin-top: 65px;
}

.scroll {
    margin-top: 20px;
    position: relative;
}

.scroll img {
    animation: scroll_animation 3s ease infinite;
    position: absolute;
}

@keyframes scroll_animation {
    0% {
        top: -15px;
    }

    30% {
        top: 7px;
    }

    100% {
        top: -15px;
    }
}

/* Menu de navigation */

nav {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

nav img {
    width: 180px;
    margin-left: 20px;
    margin-top: 40px;
}

nav ul {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
}

nav ul li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 28px;
    line-height: 55px;
}

nav ul li ul li a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 18px;
    line-height: 22px;


a {
    text-decoration: none;
}

a {
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0%;
    display: inline-block;
    transition: 0.4s ease;
}

a::before {
    background-color: var(--blue);
}

.link_ancre:hover::before {
    width: 100%;
}

.telecharger a, .zip a, footer a {
    color: var(--blue);
}

.telecharger a::before, .zip a::before, footer p a::before {
    width: 100%;
    animation: animation_link_out 0.4s ease;
}

.telecharger a:hover::before, .zip a:hover::before, footer p a:hover::before {
    animation: animation_link_in 0.4s ease forwards;
}

@keyframes animation_link_in {
    0% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes animation_link_out {
    0% {
        left: 100%;
        width: 0%;
    }

    100% {
        left: 0;
        width: 100%;
    }
}

/* Résumé */

.resume {
    margin-top: 50px;
}

/* Liste des étapes avec bulle de couleur */

.etapes {
    padding-bottom: 50px;
    margin-top: 70px;
}

.etapes ol li {
    list-style-type: none;
    line-height: 30px;
}

.etapes ol li:before {
    display: inline-block;
    content: '';
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 19px;
}

.etapes .list_of_4 li:nth-child(1):before {
    background-color: #FFFFFF;
}

.etapes .list_of_4 li:nth-child(2):before {
    background-color: #A6A1DE;
}

.etapes .list_of_4 li:nth-child(3):before {
    background-color: #746AD1;
}

.etapes .list_of_4 li:nth-child(4):before {
    background-color: #1D00B8;
}

.etapes .list_of_5 li:nth-child(1):before {
    background-color: #FFFFFF;
}

.etapes .list_of_5 li:nth-child(2):before {
    background-color: #CDC6F2;
}

.etapes .list_of_5 li:nth-child(3):before {
    background-color: #9D8FE5;
}

.etapes .list_of_5 li:nth-child(4):before {
    background-color: #7467D4;
}

.etapes .list_of_5 li:nth-child(5):before {
    background-color: #1D00B8;
}

.etapes .list_of_6 li:nth-child(1):before {
    background-color: #FFFFFF;
}

.etapes .list_of_6 li:nth-child(2):before {
    background-color: #DEDAF6;
}

.etapes .list_of_6 li:nth-child(3):before {
    background-color: #BBB2ED;
}

.etapes .list_of_6 li:nth-child(4):before {
    background-color: #8C7CE0;
}

.etapes .list_of_6 li:nth-child(5):before {
    background-color: #4728CD;
}

.etapes .list_of_6 li:nth-child(6):before {
    background-color: #1D00B8;
}

.etapes .list_of_7 li:nth-child(1):before {
    background-color: #FFFFFF;
}

.etapes .list_of_7 li:nth-child(2):before {
    background-color: #ECEAFA;
}

.etapes .list_of_7 li:nth-child(3):before {
    background-color: #D2CEE7;
}

.etapes .list_of_7 li:nth-child(4):before {
    background-color: #BBB1EF;
}

.etapes .list_of_7 li:nth-child(5):before {
    background-color: #7463D7;
}

.etapes .list_of_7 li:nth-child(6):before {
    background-color: #4F33CF;
}

.etapes .list_of_7 li:nth-child(7):before {
    background-color: #1D00B8;
}

/* Liste des points forts et points faibles */

.points_fort {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: -500px;
}

.points_fort ul {
    padding-left: 150px;
    padding-right: 100px;
}

.points_faible {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 500px;
    margin-bottom: 50px;
}

.points_faible ul {
    padding-left: 150px;
    padding-right: 100px;
}

.points_fort ul li {
    list-style: url('../svg/plus-circle-solid.svg');
    padding-left: 10px;
    margin-top: 10px;
}

.points_faible ul li {
    list-style: url('../svg/minus-circle-solid.svg');
    padding-left: 10px;
    margin-top: 10px;
}

/* Liste durée et temps et télécharger */

.duree ul li, .difficulty ul li {
    list-style-type: none;
    display: inline;
}

.duree {
    display: flex;
    flex-direction: row;
}

.duree ul {
    margin-top: 20px;
}

.difficulty {
    display: flex;
    flex-direction: row;
    margin-top: -30px;
}

.difficulty ul {
    margin-top: 20px;
    margin-left: -30px;
}

.telecharger {
    float: right;
    margin-top: -90px;
}

/* Progress bar */

.container_bar {
    position: relative;
}

#progress_bar {
    position: absolute;
    top: 13px;
    left: -15px;
    height: 15px;
    background: var(--blue);
    width: 5px;
    border-radius: 5px;
}

/* Les fiches */

.sheet {
    background-color: var(--beige);
    padding: 1px 30px;
    margin-bottom: 80px;
    position: relative;
}

.sheet .corner {
    width: 0;
    height: 0;
    border-top: 100px solid var(--yellow);
    border-left: 100px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

/* Footer */

footer {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer p {
    font-family: 'Raleway', sans-serif;
    color: var(--blue);
    font-size: 20px;
    line-height: 40px;
}

footer img {
    width: 200px;
    margin-top: 50px;
}

#footerleft {
    grid-column: 1;
}

#footerright {
    text-align: right;
    grid-column: 2;
}

/* Redimensionnement */

@media  (max-width: 1100px){
    body {
        margin: 0;
        background-color: var(--yellow);
        display: grid;
        grid-template-columns: 320px 1fr 600px 1fr;
        grid-template-rows: 900px 450px 350px 26300px 520px;
    }

}

/* Disposition mobile */

@media  (max-width: 768px){
    nav, #video iframe, #video div, #trier_par {
        display:none;
    }

    .logo_mobile {
        display: inline;
        position: fixed;
        padding-top: 25px;
        padding-left: 100px;
        z-index: 200;
    }

    .logo_mobile img{
        height: 40px;
    }

    body {
        display : inline-block;
        padding-left: 36px;
        padding-right: 36px;
    }

    h1{
        position: fixed;
        background-color: white;
        width: 100%;
        font-size: 28px;
        margin: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 200px;
        z-index: 100;
        text-align: right;
    }

    #introduction {
        margin-top: 123px;
    }

    h2{
        font-size: 20px;
    }

    #introduction p, .zip, .resume p, .resume ul , .etapes ol, .points_fort ul, .points_faible ul {
        font-size: 18px;
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word; /* passage à la ligne forcé */
    }

    .duree p, .difficulty p, .telecharger {
        font-size: 12px;
    }

    .sheet h3 {
        font-size: 20px;
    }

}
