:root{
    --blue: #1F0FB5;
    --yellow: #E5BE3C;
    --beige: #F4ECD1;
    --white: #FFFFFF;
    --black: #2F2F2F;
}

body {
    margin: 0;
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    padding-left: 20vw;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--blue);
    font-size: 72px;
}

nav {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

nav img {
    width: 10vw;
    margin-left: 2vw;
    margin-top: 2vw;
}

nav ul {
    list-style-type: none;
    margin-left: 3vw;
    padding: 0;
}

nav ul li {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 1.8vw;
    line-height: 6vh;
}

nav ul li ul li {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 1.2vw;
    line-height: 4vh;
}

nav a {
    text-decoration: none;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 58px;
}

#introduction p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 22px;
}

.sheet {
    background-color: var(--beige);
}

.duree p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 22px;
}

.temps p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 22px;
}

.telecharger {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--blue);
    font-size: 22px;
}

.sheet h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--blue);
    font-size: 35px;
}

.resume p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 22px;
}

.etapes ol {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 22px;
}

.points_fort h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 35px;
}

.points_faible h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--black);
    font-size: 35px;
}

.points_fort ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 22px;
}

.points_faible ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 22px;
}

.points_fort {
    background-color: var(--blue);
}

.points_faible {
    background-color: var(--white);
}
